<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Dogs</title>
  </head>
  <body>
    <header>All about Dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cat">Cat Page</a>
    </nav>
    <h1>My header</h1>
    <article>
      <h2>Cats</h2>
      <p>Cats are awesome!</p>
      <a href="/">Cat Page</a>
      <img src="http://www.dailyworldfacts.com/wp-content/uploads/2011/06/facts-about-cat-fallen-cat.jpg">

    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
