
<!doctype html>
<html>
  <head>
    <!-- this is a comment -->
    <meta charset="utf-8">
    <title>Dogs</title>
  </head>
  <body>
    <header>All about Dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
    </nav>
    <h1>My header</h1>
    <article>
      <h2>Dogs</h2>
      <p>Dogs are awesome!</p>
      <a href="/">Dog Page</a>
      <img src="https://pbs.twimg.com/profile_images/378800000226845887/45c31d1fbcb3d56c3d3e94f5ef3baff8.jpeg">

    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>
  </body>
</html>
